/* FONT FACE */
@font-face {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  src: url("/assets/fonts/static/SpaceGroteskBold.woff2") format("woff2"), url("/assets/fonts/static/SpaceGroteskBold.woff") format("woff");
}
@font-face {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  src: url("./assets/fonts/static/SpaceGroteskMedium.woff2") format("woff2"), url("./assets/fonts/static/SpaceGroteskMedium.woff") format("woff");
}
/* ROOT */
:root {
  /* COLORS */
  --neutral-100: hsl(0, 0%, 100%);
  --neutral-300: hsl(0, 0%, 85%);
  --neutral-900: hsl(0, 0%, 14%);
  --accent-300: hsl(153, 71%, 59%);
  --primary-900: hsl(0, 0%, 8%);
  --primary-800: hsla(0, 0%, 8%, 0.8);
  /*FONT SIZE */
  --fs-100: 1rem;
  --fs-150: 1rem;
  --fs-200: 1.125rem;
  --fs-300: 1.5rem;
  --fs-400: 2rem;
  --fs-500: 2.5rem;
  /* SIZES */
  --size-0: 0.563rem;
  --size-1: 0.875rem;
  --size-2: 1rem;
  --size-3: 1.25rem;
  --size-4: 1.813rem;
  --size-5: 1.875rem;
  --size-6: 1.5rem;
  --size-7: 1.9rem;
  --size-8: 2rem;
  --size-9: 2.125rem;
  --size-10: 2.438rem;
  --size-11: 2.469rem;
  --size-12: 2.5rem;
  --size-13: 2.75rem;
  --size-14: 3rem;
  --size-15: 3.125rem;
  --size-16: 3.5rem;
  --size-17: 3.75rem;
  --size-18: 4.375rem;
  --size-19: 4.5rem;
  --size-20: 4.375rem;
}
@media screen and (min-width: 48em) {
  :root {
    --fs-150: 1.125rem;
    --fs-400: 3rem;
    --fs-500: 4.5rem;
  }
}
@media screen and (min-width: 75em) {
  :root {
    --fs-500: 5.5rem;
  }
}

/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg,
canvas {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* BASE */
body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: var(--fs-100);
  line-height: 1.5;
  color: var(--neutral-100);
  background-color: var(--primary-900);
  overflow-x: hidden;
}

/* UTILITIES */
.clr-neutral-100 {
  color: var(--neutral-100);
}

.bg-neutral-100 {
  background-color: var(--neutral-100);
}

.clr-neutral-300 {
  color: var(--neutral-300);
}

.bg-neutral-300 {
  background-color: var(--neutral-300);
}

.clr-neutral-900 {
  color: var(--neutral-900);
}

.bg-neutral-900 {
  background-color: var(--neutral-900);
}

.clr-accent-300 {
  color: var(--accent-300);
}

.bg-accent-300 {
  background-color: var(--accent-300);
}

.clr-primary-900 {
  color: var(--primary-900);
}

.bg-primary-900 {
  background-color: var(--primary-900);
}

.clr-primary-800 {
  color: var(--primary-800);
}

.bg-primary-800 {
  background-color: var(--primary-800);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-150 {
  font-size: var(--fs-150);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fw-regular {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.border-radius {
  border-radius: 8px;
}

.border-radius-10 {
  border-radius: 10px;
}

.mx-auto {
  margin-inline: auto;
}

.margin-0 {
  margin: 0.563rem;
}
.margin-block-0 {
  margin-block: 0.563rem;
}
.margin-block-start-0 {
  margin-block-start: 0.563rem;
}
.margin-block-end-0 {
  margin-block-end: 0.563rem;
}
.margin-inline-0 {
  margin-inline: 0.563rem;
}
.margin-inline-start-0 {
  margin-inline-start: 0.563rem;
}
.margin-inline-end-0 {
  margin-inline-end: 0.563rem;
}

.padding-0 {
  padding: 0.563rem;
}
.padding-block-0 {
  padding-block: 0.563rem;
}
.padding-block-start-0 {
  padding-block-start: 0.563rem;
}
.padding-block-end-0 {
  padding-block-end: 0.563rem;
}
.padding-inline-0 {
  padding-inline: 0.563rem;
}
.padding-inline-start-0 {
  padding-inline-start: 0.563rem;
}
.padding-inline-end-0 {
  padding-inline-end: 0.563rem;
}

.margin-1 {
  margin: 0.875rem;
}
.margin-block-1 {
  margin-block: 0.875rem;
}
.margin-block-start-1 {
  margin-block-start: 0.875rem;
}
.margin-block-end-1 {
  margin-block-end: 0.875rem;
}
.margin-inline-1 {
  margin-inline: 0.875rem;
}
.margin-inline-start-1 {
  margin-inline-start: 0.875rem;
}
.margin-inline-end-1 {
  margin-inline-end: 0.875rem;
}

.padding-1 {
  padding: 0.875rem;
}
.padding-block-1 {
  padding-block: 0.875rem;
}
.padding-block-start-1 {
  padding-block-start: 0.875rem;
}
.padding-block-end-1 {
  padding-block-end: 0.875rem;
}
.padding-inline-1 {
  padding-inline: 0.875rem;
}
.padding-inline-start-1 {
  padding-inline-start: 0.875rem;
}
.padding-inline-end-1 {
  padding-inline-end: 0.875rem;
}

.margin-2 {
  margin: 1rem;
}
.margin-block-2 {
  margin-block: 1rem;
}
.margin-block-start-2 {
  margin-block-start: 1rem;
}
.margin-block-end-2 {
  margin-block-end: 1rem;
}
.margin-inline-2 {
  margin-inline: 1rem;
}
.margin-inline-start-2 {
  margin-inline-start: 1rem;
}
.margin-inline-end-2 {
  margin-inline-end: 1rem;
}

.padding-2 {
  padding: 1rem;
}
.padding-block-2 {
  padding-block: 1rem;
}
.padding-block-start-2 {
  padding-block-start: 1rem;
}
.padding-block-end-2 {
  padding-block-end: 1rem;
}
.padding-inline-2 {
  padding-inline: 1rem;
}
.padding-inline-start-2 {
  padding-inline-start: 1rem;
}
.padding-inline-end-2 {
  padding-inline-end: 1rem;
}

.margin-3 {
  margin: 1.25rem;
}
.margin-block-3 {
  margin-block: 1.25rem;
}
.margin-block-start-3 {
  margin-block-start: 1.25rem;
}
.margin-block-end-3 {
  margin-block-end: 1.25rem;
}
.margin-inline-3 {
  margin-inline: 1.25rem;
}
.margin-inline-start-3 {
  margin-inline-start: 1.25rem;
}
.margin-inline-end-3 {
  margin-inline-end: 1.25rem;
}

.padding-3 {
  padding: 1.25rem;
}
.padding-block-3 {
  padding-block: 1.25rem;
}
.padding-block-start-3 {
  padding-block-start: 1.25rem;
}
.padding-block-end-3 {
  padding-block-end: 1.25rem;
}
.padding-inline-3 {
  padding-inline: 1.25rem;
}
.padding-inline-start-3 {
  padding-inline-start: 1.25rem;
}
.padding-inline-end-3 {
  padding-inline-end: 1.25rem;
}

.margin-4 {
  margin: 1.813rem;
}
.margin-block-4 {
  margin-block: 1.813rem;
}
.margin-block-start-4 {
  margin-block-start: 1.813rem;
}
.margin-block-end-4 {
  margin-block-end: 1.813rem;
}
.margin-inline-4 {
  margin-inline: 1.813rem;
}
.margin-inline-start-4 {
  margin-inline-start: 1.813rem;
}
.margin-inline-end-4 {
  margin-inline-end: 1.813rem;
}

.padding-4 {
  padding: 1.813rem;
}
.padding-block-4 {
  padding-block: 1.813rem;
}
.padding-block-start-4 {
  padding-block-start: 1.813rem;
}
.padding-block-end-4 {
  padding-block-end: 1.813rem;
}
.padding-inline-4 {
  padding-inline: 1.813rem;
}
.padding-inline-start-4 {
  padding-inline-start: 1.813rem;
}
.padding-inline-end-4 {
  padding-inline-end: 1.813rem;
}

.margin-5 {
  margin: 1.875rem;
}
.margin-block-5 {
  margin-block: 1.875rem;
}
.margin-block-start-5 {
  margin-block-start: 1.875rem;
}
.margin-block-end-5 {
  margin-block-end: 1.875rem;
}
.margin-inline-5 {
  margin-inline: 1.875rem;
}
.margin-inline-start-5 {
  margin-inline-start: 1.875rem;
}
.margin-inline-end-5 {
  margin-inline-end: 1.875rem;
}

.padding-5 {
  padding: 1.875rem;
}
.padding-block-5 {
  padding-block: 1.875rem;
}
.padding-block-start-5 {
  padding-block-start: 1.875rem;
}
.padding-block-end-5 {
  padding-block-end: 1.875rem;
}
.padding-inline-5 {
  padding-inline: 1.875rem;
}
.padding-inline-start-5 {
  padding-inline-start: 1.875rem;
}
.padding-inline-end-5 {
  padding-inline-end: 1.875rem;
}

.margin-6 {
  margin: 1.5rem;
}
.margin-block-6 {
  margin-block: 1.5rem;
}
.margin-block-start-6 {
  margin-block-start: 1.5rem;
}
.margin-block-end-6 {
  margin-block-end: 1.5rem;
}
.margin-inline-6 {
  margin-inline: 1.5rem;
}
.margin-inline-start-6 {
  margin-inline-start: 1.5rem;
}
.margin-inline-end-6 {
  margin-inline-end: 1.5rem;
}

.padding-6 {
  padding: 1.5rem;
}
.padding-block-6 {
  padding-block: 1.5rem;
}
.padding-block-start-6 {
  padding-block-start: 1.5rem;
}
.padding-block-end-6 {
  padding-block-end: 1.5rem;
}
.padding-inline-6 {
  padding-inline: 1.5rem;
}
.padding-inline-start-6 {
  padding-inline-start: 1.5rem;
}
.padding-inline-end-6 {
  padding-inline-end: 1.5rem;
}

.margin-7 {
  margin: 1.9rem;
}
.margin-block-7 {
  margin-block: 1.9rem;
}
.margin-block-start-7 {
  margin-block-start: 1.9rem;
}
.margin-block-end-7 {
  margin-block-end: 1.9rem;
}
.margin-inline-7 {
  margin-inline: 1.9rem;
}
.margin-inline-start-7 {
  margin-inline-start: 1.9rem;
}
.margin-inline-end-7 {
  margin-inline-end: 1.9rem;
}

.padding-7 {
  padding: 1.9rem;
}
.padding-block-7 {
  padding-block: 1.9rem;
}
.padding-block-start-7 {
  padding-block-start: 1.9rem;
}
.padding-block-end-7 {
  padding-block-end: 1.9rem;
}
.padding-inline-7 {
  padding-inline: 1.9rem;
}
.padding-inline-start-7 {
  padding-inline-start: 1.9rem;
}
.padding-inline-end-7 {
  padding-inline-end: 1.9rem;
}

.margin-8 {
  margin: 2rem;
}
.margin-block-8 {
  margin-block: 2rem;
}
.margin-block-start-8 {
  margin-block-start: 2rem;
}
.margin-block-end-8 {
  margin-block-end: 2rem;
}
.margin-inline-8 {
  margin-inline: 2rem;
}
.margin-inline-start-8 {
  margin-inline-start: 2rem;
}
.margin-inline-end-8 {
  margin-inline-end: 2rem;
}

.padding-8 {
  padding: 2rem;
}
.padding-block-8 {
  padding-block: 2rem;
}
.padding-block-start-8 {
  padding-block-start: 2rem;
}
.padding-block-end-8 {
  padding-block-end: 2rem;
}
.padding-inline-8 {
  padding-inline: 2rem;
}
.padding-inline-start-8 {
  padding-inline-start: 2rem;
}
.padding-inline-end-8 {
  padding-inline-end: 2rem;
}

.margin-9 {
  margin: 2.125rem;
}
.margin-block-9 {
  margin-block: 2.125rem;
}
.margin-block-start-9 {
  margin-block-start: 2.125rem;
}
.margin-block-end-9 {
  margin-block-end: 2.125rem;
}
.margin-inline-9 {
  margin-inline: 2.125rem;
}
.margin-inline-start-9 {
  margin-inline-start: 2.125rem;
}
.margin-inline-end-9 {
  margin-inline-end: 2.125rem;
}

.padding-9 {
  padding: 2.125rem;
}
.padding-block-9 {
  padding-block: 2.125rem;
}
.padding-block-start-9 {
  padding-block-start: 2.125rem;
}
.padding-block-end-9 {
  padding-block-end: 2.125rem;
}
.padding-inline-9 {
  padding-inline: 2.125rem;
}
.padding-inline-start-9 {
  padding-inline-start: 2.125rem;
}
.padding-inline-end-9 {
  padding-inline-end: 2.125rem;
}

.margin-10 {
  margin: 2.438rem;
}
.margin-block-10 {
  margin-block: 2.438rem;
}
.margin-block-start-10 {
  margin-block-start: 2.438rem;
}
.margin-block-end-10 {
  margin-block-end: 2.438rem;
}
.margin-inline-10 {
  margin-inline: 2.438rem;
}
.margin-inline-start-10 {
  margin-inline-start: 2.438rem;
}
.margin-inline-end-10 {
  margin-inline-end: 2.438rem;
}

.padding-10 {
  padding: 2.438rem;
}
.padding-block-10 {
  padding-block: 2.438rem;
}
.padding-block-start-10 {
  padding-block-start: 2.438rem;
}
.padding-block-end-10 {
  padding-block-end: 2.438rem;
}
.padding-inline-10 {
  padding-inline: 2.438rem;
}
.padding-inline-start-10 {
  padding-inline-start: 2.438rem;
}
.padding-inline-end-10 {
  padding-inline-end: 2.438rem;
}

.margin-11 {
  margin: 2.469rem;
}
.margin-block-11 {
  margin-block: 2.469rem;
}
.margin-block-start-11 {
  margin-block-start: 2.469rem;
}
.margin-block-end-11 {
  margin-block-end: 2.469rem;
}
.margin-inline-11 {
  margin-inline: 2.469rem;
}
.margin-inline-start-11 {
  margin-inline-start: 2.469rem;
}
.margin-inline-end-11 {
  margin-inline-end: 2.469rem;
}

.padding-11 {
  padding: 2.469rem;
}
.padding-block-11 {
  padding-block: 2.469rem;
}
.padding-block-start-11 {
  padding-block-start: 2.469rem;
}
.padding-block-end-11 {
  padding-block-end: 2.469rem;
}
.padding-inline-11 {
  padding-inline: 2.469rem;
}
.padding-inline-start-11 {
  padding-inline-start: 2.469rem;
}
.padding-inline-end-11 {
  padding-inline-end: 2.469rem;
}

.margin-12 {
  margin: 2.5rem;
}
.margin-block-12 {
  margin-block: 2.5rem;
}
.margin-block-start-12 {
  margin-block-start: 2.5rem;
}
.margin-block-end-12 {
  margin-block-end: 2.5rem;
}
.margin-inline-12 {
  margin-inline: 2.5rem;
}
.margin-inline-start-12 {
  margin-inline-start: 2.5rem;
}
.margin-inline-end-12 {
  margin-inline-end: 2.5rem;
}

.padding-12 {
  padding: 2.5rem;
}
.padding-block-12 {
  padding-block: 2.5rem;
}
.padding-block-start-12 {
  padding-block-start: 2.5rem;
}
.padding-block-end-12 {
  padding-block-end: 2.5rem;
}
.padding-inline-12 {
  padding-inline: 2.5rem;
}
.padding-inline-start-12 {
  padding-inline-start: 2.5rem;
}
.padding-inline-end-12 {
  padding-inline-end: 2.5rem;
}

.margin-13 {
  margin: 2.75rem;
}
.margin-block-13 {
  margin-block: 2.75rem;
}
.margin-block-start-13 {
  margin-block-start: 2.75rem;
}
.margin-block-end-13 {
  margin-block-end: 2.75rem;
}
.margin-inline-13 {
  margin-inline: 2.75rem;
}
.margin-inline-start-13 {
  margin-inline-start: 2.75rem;
}
.margin-inline-end-13 {
  margin-inline-end: 2.75rem;
}

.padding-13 {
  padding: 2.75rem;
}
.padding-block-13 {
  padding-block: 2.75rem;
}
.padding-block-start-13 {
  padding-block-start: 2.75rem;
}
.padding-block-end-13 {
  padding-block-end: 2.75rem;
}
.padding-inline-13 {
  padding-inline: 2.75rem;
}
.padding-inline-start-13 {
  padding-inline-start: 2.75rem;
}
.padding-inline-end-13 {
  padding-inline-end: 2.75rem;
}

.margin-14 {
  margin: 3rem;
}
.margin-block-14 {
  margin-block: 3rem;
}
.margin-block-start-14 {
  margin-block-start: 3rem;
}
.margin-block-end-14 {
  margin-block-end: 3rem;
}
.margin-inline-14 {
  margin-inline: 3rem;
}
.margin-inline-start-14 {
  margin-inline-start: 3rem;
}
.margin-inline-end-14 {
  margin-inline-end: 3rem;
}

.padding-14 {
  padding: 3rem;
}
.padding-block-14 {
  padding-block: 3rem;
}
.padding-block-start-14 {
  padding-block-start: 3rem;
}
.padding-block-end-14 {
  padding-block-end: 3rem;
}
.padding-inline-14 {
  padding-inline: 3rem;
}
.padding-inline-start-14 {
  padding-inline-start: 3rem;
}
.padding-inline-end-14 {
  padding-inline-end: 3rem;
}

.margin-15 {
  margin: 3.125rem;
}
.margin-block-15 {
  margin-block: 3.125rem;
}
.margin-block-start-15 {
  margin-block-start: 3.125rem;
}
.margin-block-end-15 {
  margin-block-end: 3.125rem;
}
.margin-inline-15 {
  margin-inline: 3.125rem;
}
.margin-inline-start-15 {
  margin-inline-start: 3.125rem;
}
.margin-inline-end-15 {
  margin-inline-end: 3.125rem;
}

.padding-15 {
  padding: 3.125rem;
}
.padding-block-15 {
  padding-block: 3.125rem;
}
.padding-block-start-15 {
  padding-block-start: 3.125rem;
}
.padding-block-end-15 {
  padding-block-end: 3.125rem;
}
.padding-inline-15 {
  padding-inline: 3.125rem;
}
.padding-inline-start-15 {
  padding-inline-start: 3.125rem;
}
.padding-inline-end-15 {
  padding-inline-end: 3.125rem;
}

.margin-16 {
  margin: 3.5rem;
}
.margin-block-16 {
  margin-block: 3.5rem;
}
.margin-block-start-16 {
  margin-block-start: 3.5rem;
}
.margin-block-end-16 {
  margin-block-end: 3.5rem;
}
.margin-inline-16 {
  margin-inline: 3.5rem;
}
.margin-inline-start-16 {
  margin-inline-start: 3.5rem;
}
.margin-inline-end-16 {
  margin-inline-end: 3.5rem;
}

.padding-16 {
  padding: 3.5rem;
}
.padding-block-16 {
  padding-block: 3.5rem;
}
.padding-block-start-16 {
  padding-block-start: 3.5rem;
}
.padding-block-end-16 {
  padding-block-end: 3.5rem;
}
.padding-inline-16 {
  padding-inline: 3.5rem;
}
.padding-inline-start-16 {
  padding-inline-start: 3.5rem;
}
.padding-inline-end-16 {
  padding-inline-end: 3.5rem;
}

.margin-17 {
  margin: 3.75rem;
}
.margin-block-17 {
  margin-block: 3.75rem;
}
.margin-block-start-17 {
  margin-block-start: 3.75rem;
}
.margin-block-end-17 {
  margin-block-end: 3.75rem;
}
.margin-inline-17 {
  margin-inline: 3.75rem;
}
.margin-inline-start-17 {
  margin-inline-start: 3.75rem;
}
.margin-inline-end-17 {
  margin-inline-end: 3.75rem;
}

.padding-17 {
  padding: 3.75rem;
}
.padding-block-17 {
  padding-block: 3.75rem;
}
.padding-block-start-17 {
  padding-block-start: 3.75rem;
}
.padding-block-end-17 {
  padding-block-end: 3.75rem;
}
.padding-inline-17 {
  padding-inline: 3.75rem;
}
.padding-inline-start-17 {
  padding-inline-start: 3.75rem;
}
.padding-inline-end-17 {
  padding-inline-end: 3.75rem;
}

.margin-18 {
  margin: 4.375rem;
}
.margin-block-18 {
  margin-block: 4.375rem;
}
.margin-block-start-18 {
  margin-block-start: 4.375rem;
}
.margin-block-end-18 {
  margin-block-end: 4.375rem;
}
.margin-inline-18 {
  margin-inline: 4.375rem;
}
.margin-inline-start-18 {
  margin-inline-start: 4.375rem;
}
.margin-inline-end-18 {
  margin-inline-end: 4.375rem;
}

.padding-18 {
  padding: 4.375rem;
}
.padding-block-18 {
  padding-block: 4.375rem;
}
.padding-block-start-18 {
  padding-block-start: 4.375rem;
}
.padding-block-end-18 {
  padding-block-end: 4.375rem;
}
.padding-inline-18 {
  padding-inline: 4.375rem;
}
.padding-inline-start-18 {
  padding-inline-start: 4.375rem;
}
.padding-inline-end-18 {
  padding-inline-end: 4.375rem;
}

.margin-19 {
  margin: 4.5rem;
}
.margin-block-19 {
  margin-block: 4.5rem;
}
.margin-block-start-19 {
  margin-block-start: 4.5rem;
}
.margin-block-end-19 {
  margin-block-end: 4.5rem;
}
.margin-inline-19 {
  margin-inline: 4.5rem;
}
.margin-inline-start-19 {
  margin-inline-start: 4.5rem;
}
.margin-inline-end-19 {
  margin-inline-end: 4.5rem;
}

.padding-19 {
  padding: 4.5rem;
}
.padding-block-19 {
  padding-block: 4.5rem;
}
.padding-block-start-19 {
  padding-block-start: 4.5rem;
}
.padding-block-end-19 {
  padding-block-end: 4.5rem;
}
.padding-inline-19 {
  padding-inline: 4.5rem;
}
.padding-inline-start-19 {
  padding-inline-start: 4.5rem;
}
.padding-inline-end-19 {
  padding-inline-end: 4.5rem;
}

.margin-20 {
  margin: 4.375rem;
}
.margin-block-20 {
  margin-block: 4.375rem;
}
.margin-block-start-20 {
  margin-block-start: 4.375rem;
}
.margin-block-end-20 {
  margin-block-end: 4.375rem;
}
.margin-inline-20 {
  margin-inline: 4.375rem;
}
.margin-inline-start-20 {
  margin-inline-start: 4.375rem;
}
.margin-inline-end-20 {
  margin-inline-end: 4.375rem;
}

.padding-20 {
  padding: 4.375rem;
}
.padding-block-20 {
  padding-block: 4.375rem;
}
.padding-block-start-20 {
  padding-block-start: 4.375rem;
}
.padding-block-end-20 {
  padding-block-end: 4.375rem;
}
.padding-inline-20 {
  padding-inline: 4.375rem;
}
.padding-inline-start-20 {
  padding-inline-start: 4.375rem;
}
.padding-inline-end-20 {
  padding-inline-end: 4.375rem;
}

/* CONTAINER */
.container {
  --padding: 1rem * 2;
  --max-width: 69.375rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 2rem);
}

.flow__card > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1rem);
}

.text__align {
  text-align: center;
}
@media screen and (min-width: 75em) {
  .text__align {
    text-align: left;
  }
}

.d-grid {
  display: grid;
}

.grid__auto__flow {
  grid-auto-flow: row;
  align-items: center;
}
@media screen and (min-width: 48em) {
  .grid__auto__flow {
    grid-auto-flow: column;
  }
}

.grid__auto__fit {
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
}

@media screen and (min-width: 48em) {
  .grid-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 75em) {
  .grid__event__columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 23.438em) {
  .grid-row {
    grid-row: 1;
  }
}

.justify__content__center {
  justify-content: center;
}

.justify__content__spacebetweeen {
  justify-content: space-between;
}

.justify__item__center {
  justify-items: center;
}
@media screen and (min-width: 48em) {
  .justify__item__center {
    justify-items: left;
  }
}

.align-items {
  align-items: center;
}

.gap {
  gap: 1.5rem;
}

.gaps {
  gap: 2.5rem;
}

.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 48em) {
  .d-flex {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 75em) {
  .d-flex {
    align-items: end;
    align-items: center;
  }
}

.f-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.flex {
  display: flex;
  justify-content: end;
}

@media screen and (min-width: 23.438em) {
  .items {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
@media screen and (min-width: 75em) {
  .items {
    align-items: center;
    justify-items: flex-end;
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  padding-block-start: 2.469rem;
  padding-block-end: 3.75rem;
  background-color: var(--neutral-900);
}
footer .footer {
  padding-block-start: 2.5rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.33px;
}

.heading-1 {
  font-size: var(--fs-500);
  font-weight: 700;
}

.heading-2 {
  font-size: var(--fs-500);
  font-weight: 700;
}

.heading-3 {
  font-size: var(--fs-300);
  font-weight: 700;
  text-transform: uppercase;
}

p {
  color: var(--neutral-300);
  font-weight: normal;
  line-height: 28px;
  max-width: 35ch;
  margin-inline: auto;
}
@media screen and (min-width: 48em) {
  p {
    margin-inline: 0;
  }
}

p[data-type=wide] {
  max-width: 39ch;
  margin-inline: auto;
}
@media screen and (min-width: 75em) {
  p[data-type=wide] {
    margin-inline: 0;
  }
}

.button,
input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  padding-block-end: 15px;
  color: var(--neutral-100);
  border-bottom: 2px solid var(--accent-300);
  text-transform: uppercase;
  font-size: var(--fs-100);
  letter-spacing: 2.29px;
  line-height-step: 30px;
  cursor: pointer;
}

.card {
  position: relative;
}
@media screen and (min-width: 75em) {
  .card .buttons {
    position: absolute;
    inset: -17px 0 0 0;
    width: 100%;
    height: 400px;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-color: var(--primary-800);
    cursor: pointer;
  }
  .card .buttons:hover {
    opacity: 1;
    z-index: 1;
  }
  .card .buttons .button {
    cursor: pointer;
  }
  .card .buttons .button:hover {
    color: var(--accent-300);
  }
}

.header {
  position: relative;
  z-index: 999;
  padding-block-start: 1.25rem;
}
@media screen and (min-width: 48em) {
  .header {
    padding-block-start: 2rem;
  }
}
@media screen and (min-width: 75em) {
  .header {
    padding-block-start: 2.438rem;
  }
}
@media screen and (min-width: 48em) {
  .header ul[role=list] {
    padding-block-start: 0;
  }
}
@media screen and (min-width: 75em) {
  .header ul[role=list] {
    padding-inline-end: 30px;
  }
}

ul[role=list] {
  padding-block-start: 20px;
}

.hero__section {
  position: relative;
  text-align: center;
  padding-block-end: 2.5rem;
  min-height: 100vh;
}
@media screen and (min-width: 48em) {
  .hero__section {
    padding-block-end: 1.875rem;
    text-align: left;
  }
}
@media screen and (min-width: 75em) {
  .hero__section {
    padding-block-end: 3.125rem;
  }
}
.hero__section::before {
  content: "";
  position: absolute;
  max-width: 530px;
  height: 129px;
  background-image: url("../assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  inset: 0 0 0 -100%;
}
@media screen and (min-width: 48em) {
  .hero__section::before {
    inset: 0 0 0 -40%;
  }
}
@media screen and (min-width: 48em) {
  .hero__section::before {
    inset: 30px 0 0 -20%;
  }
}
.hero__section::after {
  content: "";
  position: absolute;
  width: 129px;
  height: 129px;
  background-image: url("../assets/images/pattern-circle.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  right: 0;
  bottom: 0;
}
.hero__section span {
  border-bottom: 4px solid var(--accent-300);
}
.hero__section .hero__image {
  position: absolute;
  z-index: 1;
  max-width: 174px;
  height: 383px;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 48em) {
  .hero__section .hero__image {
    max-width: 100%;
    height: 100%;
    right: 0;
    left: auto;
    transform: translate(0%, 0%);
  }
}
@media screen and (min-width: 75em) {
  .hero__section .hero__image {
    right: 9%;
  }
}
.hero__section .hero__details {
  position: relative;
  top: 50%;
  bottom: auto;
  transform: translateY(60%);
  padding-block-start: 1.25rem;
  z-index: 2;
}
@media screen and (min-width: 48em) {
  .hero__section .hero__details {
    top: -40%;
  }
}
@media screen and (min-width: 75em) {
  .hero__section .hero__details {
    width: 761px;
    top: -50%;
  }
}
.hero__section canvas {
  display: none;
}
@media screen and (min-width: 75em) {
  .hero__section canvas {
    display: block;
  }
}
@media screen and (min-width: 75em) {
  .hero__section h1 {
    display: none;
  }
}

.skills__section {
  position: relative;
  padding-block-start: 2.5rem;
  padding-block-end: 2.5rem;
  overflow-x: hidden;
}
@media screen and (min-width: 48em) {
  .skills__section {
    padding-block-start: 1.875rem;
    padding-block-end: 3.125rem;
  }
}
@media screen and (min-width: 75em) {
  .skills__section {
    padding-block-start: 3.125rem;
    padding-block-end: 4.375rem;
  }
}
.skills__section::before {
  content: "";
  position: absolute;
  width: 530px;
  height: 129px;
  background-image: url("../assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  right: -20%;
  bottom: 0;
}
.skills__section ul {
  margin-block-start: 2.5rem;
  margin-block-end: 1.1rem;
}
.skills__section ul li {
  text-align: center;
}
.skills__section ul li span {
  font-size: var(--fs-400);
  text-transform: capitalize;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  padding-block-end: 0.875;
  display: block;
}
@media screen and (min-width: 48em) {
  .skills__section ul li span {
    line-height: 56px;
    letter-spacing: -1.5px;
  }
}
@media screen and (min-width: 48em) {
  .skills__section ul li {
    text-align: left;
  }
}

.projects__section {
  padding-block-start: 2.5rem;
  padding-block-end: 2.5rem;
}
@media screen and (min-width: 48em) {
  .projects__section {
    padding-block-start: 3.125rem;
    padding-block-end: 3.125rem;
  }
}
@media screen and (min-width: 75em) {
  .projects__section {
    padding-block-start: 4.375rem;
    padding-block-end: 4.313rem;
  }
}
.projects__section span {
  font-size: var(--fs-200);
  text-transform: uppercase;
  color: var(--neutral-300);
  font-weight: normal;
  margin-inline-end: 1rem;
}
.projects__section .button {
  margin-inline-end: 1rem;
}
.projects__section canvas {
  display: none;
}
@media screen and (min-width: 75em) {
  .projects__section canvas {
    display: block;
  }
}
@media screen and (min-width: 75em) {
  .projects__section h2 {
    display: none;
  }
}

.contact__section {
  position: relative;
  padding-block-start: 2.5rem;
  background-color: var(--neutral-900);
  overflow-x: hidden;
}
@media screen and (min-width: 48em) {
  .contact__section {
    padding-block-start: 3.125rem;
  }
}
@media screen and (min-width: 75em) {
  .contact__section {
    padding-block-start: 4.313rem;
  }
}
.contact__section::before {
  content: "";
  position: absolute;
  width: 530px;
  height: 129px;
  background-image: url("../assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  left: -15%;
  bottom: 0;
}
.contact__section canvas {
  display: none;
}
@media screen and (min-width: 75em) {
  .contact__section canvas {
    display: block;
  }
}
@media screen and (min-width: 75em) {
  .contact__section h2 {
    display: none;
  }
}

form {
  max-width: 445px;
  position: relative;
  margin-inline: auto;
}
@media screen and (min-width: 75em) {
  form {
    max-width: 100%;
  }
}
form input,
form textarea {
  border-bottom: 1px solid var(--neutral-300);
  padding-block: 0.875rem;
  padding-inline-start: 1.375rem;
  margin-block-start: 2rem;
  color: var(--neutral-100);
  font-weight: 700;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  text-transform: uppercase;
}
form input::placeholder,
form textarea::placeholder {
  text-transform: uppercase;
}
form input[type=submit] {
  padding-inline-start: 0px;
}
form .form__field.error input {
  border-bottom-color: red;
}
form .form__field.seccess input {
  border-bottom-color: green;
}
form small {
  text-align: end;
  font-size: 0.75rem;
  line-height: 16px;
  letter-spacing: -0.17px;
  color: red;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--neutral-300);
}
@media screen and (min-width: 48em) {
  .line[data-line=none] {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */