@use "../abstracts/" as *;

.d-grid {
  display: grid;
}

.grid__auto__flow {
  grid-auto-flow: row;
  align-items: center;
  @include mq(medium) {
    grid-auto-flow: column;
  }
}

.grid__auto__fit {
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
}

.grid-columns {
  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid__event__columns {
  @include mq(large) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-row {
  @include mq(small) {
    grid-row: 1;
  }
}

.justify__content__center {
  justify-content: center;
}

.justify__content__spacebetweeen {
  justify-content: space-between;
}

.justify__item__center {
  justify-items: center;
  @include mq(medium) {
    justify-items: left;
  }
}

.align-items {
  align-items: center;
}

.gap {
  gap: $size-6;
}

.gaps {
  gap: $size-12;
}
