@use "../abstracts/" as *;
.heading-1 {
  font-size: $font-size-500;
  font-weight: $fw-bold;
}

.heading-2 {
  font-size: $font-size-500;
  font-weight: $fw-bold;
}

.heading-3 {
  font-size: $font-size-300;
  font-weight: $fw-bold;
  text-transform: uppercase;
}
